@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap%22");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 10%;
  background-color: rgb(85, 83, 83);
}



.logo {
  cursor: pointer;
}

.nav a {
  list-style: none;
  color: whitesmoke;
  display: flex;
  display: inline ;
 justify-content: space-between;

}

.navlinks a:hover {
  color: #0088a9;
}

ul {
  list-style-type: none;
}

button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3 ease 0s;
}

button:hover {
  background-color: rgba(0, 136, 169, 0, 8);
}

main {
 
  height: auto;
}

.flex-container {
  display: flex;
  flex-direction: column;
  background-color: rgb(10, 8, 8);
  width: 100%;
  gap: 30px;
  justify-content: center;
}



.flex-container img {
  max-width: 245px;
  border-radius: 10px;
  transition: transform .2s;
}

.flex-container img:hover {
  transform: scale(1.1);
}

.banner {
  width: 100%;
  height: 400px;
  background-position: center;
}



footer {
  display: flex;
  margin: 0;
  justify-content: space-evenly;

  bottom: 0px;
  height: 100px;
  background-color: url(site/images/zims-website-19.jpg);
  font-weight: bold;
  left: 0;
  right: 0;

}



.navbar {
  display: flex;
  background-color: black;
  list-style-type: none;
}
.recepten-container{
  display: flex;
  background-color: rgb(10, 8, 8);
  width: 100%;
  gap: 30px;
  justify-content: center;
}

.recepten-container img {

  height: 250px;
  width: 245px;
 
}
.recepten-container img:hover {
  transform: scale(1.1);
}
.foto-speciaal{

  width: 40px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  margin: auto;
  padding-bottom: 30px;
  justify-content: baseline;
}